/* <!-- nav and hero section start --> */
.nav-hero-sec {
  height: 700px;
  width: 100%;
  background-image: url();
}
.nav-bar {
  height: 100px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.nav-1 {
  height: 70px;
  width: 20%;
}
.nav-2 {
  height: 50px;
  width: 20%;
}
.costome-icon {
  font-size: 50px;
  color: black;
}
.text-1 {
  font-size: 13px;
}
.costome-a {
  text-decoration: none;
  font-size: 25px;
}
.costome-icon-2 {
  font-size: 30px;
}
.hero-text {
  height: 500px;
  width: 50%;
  margin: auto;
}
.costome-text-1 {
  font-size: 60px;
}
.costome-text-2 {
  font-size: 28px;
}
.btn-costome {
  height: 60px;
  width: 220px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(to right, rgb(241, 180, 66), rgb(230, 103, 124));
}
.costome-icon-3 {
  font-size: 65px;
}
/* <!-- nav and hero section ended --> */
/* <!-- second  section start --> */
.second-section {
  height: 600px;
  width: 100%;
}
.box-1 {
  height: 300px;
  width: 30%;
}
.box-2 {
  height: 400px;
  width: 30%;
}
.costome-text-3 {
  font-size: 25px;
}
.btn-costome-2 {
  height: 50px;
  width: 180px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(to right, rgb(241, 180, 66), rgb(230, 103, 124));
}
.third-section {
  height: 600px;
  width: 100%;
}
.box-3 {
  height: 400px;
  width: 30%;
}
.box-4 {
  height: 320px;
  width: 30%;
}
/* <!-- third section ended --> */
/* <!-- fourth section start --> */
.fourth-section {
  height: 600px;
  width: 100%;
}
.box-5 {
  height: 430px;
  width: 30%;
}
.box-6 {
  height: 430px;
  width: 30%;
}
/* <!-- fourth section ended --> */
/* <!-- fifth section start --> */
.fifth-section {
  height: 600px;
  width: 100%;
}
.box-7 {
  height: 430px;
  width: 30%;
}
.box-8 {
  height: 430px;
  width: 30%;
}
/* <!-- fifth section ended --> */
/* <!-- six section start --> */
.six-section {
  height: 300px;
  width: 100%;
}
.box-9 {
  height: 70px;
  width: 80%;
  margin: auto;
}
.costome-a2 {
  text-decoration: none;
  font-size: 18px;
}
.costome-icon-4 {
  font-size: 30px;
}
.gray-line {
  height: 2px;
  width: 65%;
  background-color: gray;
  margin: auto;
}
.box-10 {
  height: 100px;
  width: 70%;
  margin: auto;
}
.box-11 {
  height: 70px;
  width: 70%;
  margin: auto;
}
.costome-icon-5 {
  font-size: 50px;
  color: black;
}
